<div class="w-full h-full m-10">

  <div class="dep-item-wrapper">
    <div class="item-section">
      <div class="arrow-wrapper">
        <div class="top-arrow">
          <div>IF(Filled)</div>
          <span></span>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="h-32">
          <p>Empty</p>
        </div>
      </div>
    </div>
    <div class="item-ctrl">T_1(First_Name)</div>
    <div class="item-section">
      <div class="arrow-wrapper">
        <div class="bottom-arrow">
          <span></span>
          <div>IF(Blank)</div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="h-32">
          <p>Empty</p>
        </div>
      </div>
    </div>
  </div>

</div>
