
mat-nav-list{
  padding: 5rem !important;
  width: 60% !important;
}

mat-nav-list .mat-list-item{
  margin-bottom: 2rem !important;
  background: purple !important;
  color: white !important;
  border: none !important;
}
